<div *ngIf="recipe$ | async as recipe; else missing">
  <img [src]="recipe.imageURL" />

  <h1>
    {{ recipe.name }}
  </h1>

  <h2>
    Ingredients
  </h2>
  <ul>
    <li *ngFor="let ingredient of recipe.ingredients">
      {{ getIngredientText(ingredient) }}
    </li>
  </ul>

  <h2>
    Steps
  </h2>
  <ol>
    <li *ngFor="let step of recipe.steps">
      {{ step }}
    </li>
  </ol>

</div>
<ng-template #missing>
  Recipe ID is not valid.
</ng-template>

<a routerLink="..">
  Go back to the list
</a>
